<a href="https://colab.research.google.com/github/LadyNatali/Homework/blob/main/Zadanie2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
word = 'privet'
if len(word)%2==1:
    print(word[len(word)//2])
else:
    print(word[len(word)//2-1:len(word)//2+1])

iv

Задание 2
Напишите программу, которая последовательно
запрашивает у пользователя числа (по одному за раз) и после первого нуля выводит сумму всех ранее введенных чисел.

In [4]:
x = int(input('введите число '))
sum = 0
kol = 0
while x != 0:
    sum += x
    kol += 1
    x = int(input())

print(sum)

введите число 7
5
0
12

Задание 3.
Мы делаем MVP dating-сервиса, и у нас есть список парней и девушек.
Выдвигаем гипотезу: лучшие рекомендации мы получим, если просто отсортируем имена по алфавиту и познакомим людей с одинаковыми индексами после сортировки! Но мы не будем никого знакомить, если кто-то может остаться без пары:

In [5]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
res = list(zip(sorted(boys),sorted(girls)))
for para in res:
    print(para[0],'и',para[1])

Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

Задание 4
У нас есть список, содержащий информацию о среднедневной температуре в Фаренгейтах за произвольный период по странам (структура данных в примере). Необходимо написать код, который рассчитает среднюю температуру за период в Цельсиях(!) для каждой страны.

In [21]:
countries_temperature = [['Таиланд', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
                         ['Германия', [57.2, 55.4, 59, 59, 53.6]],
                         ['Россия', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
                         ['Польша', [50, 50, 53.6, 57.2, 55.4, 55.4]]
                        ]
for Country, Temperature in countries_temperature:
    Tsum = 0
    for T in Temperature:
        Tsum += (T - 32)*5/9
    print("средняя температура в стране",('%10s  %5.1f' % (Country, Tsum/len(Temperature))))

средняя температура в стране    Таиланд   23.9
средняя температура в стране   Германия   13.8
средняя температура в стране     Россия    3.7
средняя температура в стране     Польша   12.0